
dj-database-url==2.1.0
Django==4.2.5
django-database-url==1.0.3
django-embed-video==1.4.9
django-environ==0.11.2
django-heroku==0.3.1
django-jsonfield==1.4.1


gunicorn==20.1.0
heroku==0.1.4


pytz==2023.3.post1


sqlparse==0.4.4
stripe==7.4.0


typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.5
whitenoise==6.5.0
